* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    padding: 1em 13em 7em 13em;
    width: 1440px;
    background-color: #1F2937;
}

nav {
    display: flex;
    gap: 30px;
}


h1 {
    margin-bottom: 0.3em;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bold;
}
p.description {
    margin-bottom: 0.5em;
}
p.description, a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
}

a:not(.logo) {
    padding-top: 30px;
}
a:first-child {
    padding-top: 25px;
    font-size: 24px;
    color: #f9faf8;
    flex: 1;
}

img.img1 {
    width: 35vw;
}

.about-container {
    display: flex;
    padding-top: 10em;
    gap: 6em;
}
.about {
    padding-top: 5em;
}

.button1 {
    padding: 0.7em 2em;
    border-radius: 7px;
    border: none;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
}

h3 {
    margin-top: 0.5em;
    text-align: center;
    font-size: 36px;
    color: #1f2937;
}

.body-1 {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.cat1 img, .cat2 img, .cat3 img, .cat4 img {
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 10px;
}
.body-1 p {
    margin: 1em 0;
    text-align: center;
}

.body-2 {
    padding: 2em 10em;
    width: 100%;
    height: 200px;
    background-color: #e5e7eb;
}
.quote, .author {
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
}
.author {
    font-size: 24px;
    text-align: right;
}

.body-3 {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.news-container {
    padding: 0 9em;
    width: 900px;
    height: 130px;
    background-color: #3882f6;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    color: #e5e7eb;
}
.news-bold {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.news-normal {
    font-size: 18px;
}
.news-text {
    flex: 1;
}

.button2 {
    padding: 0.3em 2em;
    border-radius: 10px;
    background-color: #3882f6;
    color: #fff;
    font-size: 16px;
}

footer {
    width: 100%;
    height: 6vh;
    background-color: #1F2937;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
}